.imgCard{
 aspect-ratio: 16/9; 
 object-fit: cover;
 overflow: hidden; 
 border-right: 1px solid rgb(2, 135, 135); 
 border-bottom: 1px solid rgb(2, 135, 135); 
}
.spotCard{
    background-color: #01322e7b;
    /* color: rgba(116, 234, 247, 0.572); */
    border: 1px dashed rgb(1, 73, 73);
}
.courseName{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: cyan;
}
.fee{
    font-family: sans-serif;
    color: rgb(244, 241, 184);
}


.courseName::-webkit-scrollbar {
  width: 7px;
}

.courseName::-webkit-scrollbar-track {
  background: transparent;
}

.courseName::-webkit-scrollbar-thumb {
  background-color: #00e0ff; /* cyan blue scrollbar */
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.courseName::-webkit-scrollbar-thumb:hover {
  background-color: #00b8d4; /* darker on hover */
}

.addCourseCard{
    border: 3px dashed whitesmoke;
}

.plus{
    transform: translate(-50%, -50%);
}
